html {
  font-size: 16px;
}

body {
  background-color: #ffffffa3;
  font-family: 'DM Mono', monospace;
  color: #4e4d4d;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

input {
  line-height: normal;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

h1 {
  margin-top: 20px;
  font-size: 2em;
  text-align: center;
}

.form_field {
  margin-bottom: 25px;
  text-align: center;

  label {
    display: block;
    margin-bottom: 25px;
  }
}

.container {
  position: relative;
  max-width: 600px;
  margin: 30px auto 30px;
  padding: 25px 15px;
  font-size: 1.1em;
}

.button_container {
  position: relative;
  text-align: center;
  margin-top: 20px;
}

.calculate_bill {
  background-color: white;
  position: relative;
  padding: 5px 12px;
  border: #4e4d4d 1px solid;
  border-radius: 5px;
  text-align: center;
}

.result {
  margin-bottom: 15px;
  text-align: center;
  margin-top: 30px;
}


